div#command_output
{
	color:red;
	font-weight:bold;
	border: 2px solid black;
}

div#container
{
	text-align:center;
}

div#footer
{
	position:absolute;
	left: 40%;
	bottom: 5%;
	font-style: italic;
}
